html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  overflow: hidden;
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  transition: 1s ease;

  background-color: limegreen;
  opacity: 0;
}

.show {
  opacity: 1;
}

.diamond {
  height: 80px;
  right: -100px;
  top: calc(50% - 40px);
  width: 80px;

  background-color: hotpink;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.slide {
  right: 5%;
}

@keyframes slide {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(-5px,0);
  }
}

.panel {
  max-height: 10em;
  overflow: hidden;
  top: 50%;
  width: 250px;

  background-color: yellow;
  transform: translateY(-50%);

  color: darkgoldenrod;
  text-align: center;
  transition: all 0.3s ease;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.collapse {
  max-height: 0;
}

@keyframes collapse{
  0% {
    max-height: 100%
  }
  100% {
    max-height: 0%
  }
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;

  background-color: orange;
  border-radius: 50%;
  animation: all 2s ease;
}

.bounce {
  animation: bounce 1s ease;
}

@keyframes bounce {
  0% {
    transform: translate (0,0);
  }
  25% {
    transform: translate (-45px,25px);
  }
  50% {
    transform: translate (-60px, 10px);
  }
  70% {
    transform: translate (-75px, 25px);
  }
  100% {
    transform: translate (-90px, 10px);
  }
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  overflow: hidden;
  padding: 0 0.5em;
  max-height: 0;

  background-color: plum;
  border: 1px solid mediumpurple;
  overflow: hidden;
  animation: expand .5s ease forwards;

  color: mediumpurple;
}

keyframes expand {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 1.5rem;
  }
}
